*, *:after:, *:before {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}

*, html {
    margin: 0;
    padding: 0;
}

html, body {
    text-align:center;
    font-family: Arial, sans-serif;
    color:#000;
    margin: 0;
}

#pez_wrap {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align:center;
    position: relative;
    overflow: hidden;
    background-color: rgba(255,255,255,1);
}

h1 {
    margin: 10px 0 0 10px;
}

#pez_map {
    height: 450px;
    width: 94%;
    margin: 0 auto;
    clear:both;
    border: 4px solid #fff;
    -webkit-box-shadow: 0 0 15px 5px rgba(255,255,190,.75);
    -moz-box-shadow: 0 0 3px 2px rgba(100,100,100,.35);
    box-shadow: 0 0 3px 2px rgba(100,100,100,.35);
}

#pez_desc {
    display: none;
    position: absolute;
    top: 90px;
    left: 11%;
    z-index: 1001;
    width: 75%;
    height: 350px;
    padding: 10px;
    overflow: scroll;
    text-align: left;
    background-color: rgba(255,255,255,.95);
    color: #000;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

#pez_desc h2 {
    margin: 8px 40px auto 50px;
    text-indent: 40px;
    width: 70%;
}

#pez_desc h2.na {
    background: url(../img/Not_Applicable.png) no-repeat 0 -1px;
    background-size: 30px;
}

#pez_desc h2.advice {
    background: url(../img/Advice.png) no-repeat 0 -1px;
    background-size: 30px;
}

#pez_desc h2.watchAct {
    background: url(../img/WatchandAct.png) no-repeat 0 -1px;
    background-size: 30px;
}

#pez_desc h2.warning {
    background: url(../img/Emergency_Warning.png) no-repeat 0 -1px;
    background-size: 30px;
}

#pez_inc_desc {
    font-size: 12px;
    margin: 10px 0 80px 52px;
}

#pez_inc_desc.vic {
    margin: 10px 50px 80px 52px;
}

#pez_inc_desc p {
    margin: 1em 0;
}

#pez_inc_desc p a {
    color:navy;
}

#pez_error {
    display: none;
    position: absolute;
    top: 30%;
    left: 24%;
    width: 50%;
    padding: 1em;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    text-align: center !important;
    color: rgb(160, 34, 25);
}

#pez_error p {
    width: 80%;
    margin: auto;
    font-size: .9em;
    margin-bottom: .5em;
}

#pez_error p:first-of-type{
    color: black;
}

#pez_error button {
    font-size: 1em;
    padding: .3em 1em;
    margin: 1em auto .15em;
    cursor: pointer;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

.pez_legend {
    height:22px;
}

.pez_legend.vic {
    margin-top: 5px;
}

.pez_legend.vic i {
    padding: 4px;
}

.pez_legend.nsw i.na {
    background: url(../img/Not_Applicable.png) no-repeat 0 0;
    background-size: 20px;
}

.pez_legend.nsw i.advice {
    background: url(../img/Advice.png) no-repeat 0 0;
    background-size: 20px;
}

.pez_legend.nsw i.watchAct {
    background: url(../img/WatchandAct.png) no-repeat 0 0;
    background-size: 20px;
}

.pez_legend.nsw i.warning {
    background: url(../img/Emergency_Warning.png) no-repeat 0 0;
    background-size: 20px;
}

.pez_legend.vic i.advice {
    background: url(../img/advice_menu.png) no-repeat 0 0;
    background-size: 20px;
}

.pez_legend.vic i.watchAct {
    background: url(../img/watch_menu.png) no-repeat 0 0;
    background-size: 20px;
}

.pez_legend.vic i.warning {
    background: url(../img/emergency_menu.png) no-repeat 0 0;
    background-size: 20px;
}

.pez_closebtn {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 8px;
    height: 15px;
    border-radius: 20px;
    text-align: center;
    margin:5px 0 5px 10px;
    color: grey;
    border: 2px solid grey;
    padding: 5px 12px 8px 9px;
    font-size: 17px;
    font-weight: 900;
    font-family: Arial;
    cursor: pointer;
    background-color: #FFF;
}

.pez_closebtn:hover {
    color:red;
}

.leaflet-container a {
    color: black !important;
    text-decoration: none;
}

.leaflet-container a:hover {
    text-decoration: underline;
}

@media (max-width: 619px){
    #pez_map {
        height: 350px;
    }

    #pez_desc {
        top: 60px;
        left: 6%;
        height: 310px;
        width: 80%;
    }

    #pez_desc h2 {
        margin: 8px 40px auto 20px;
        text-indent: 40px;
        width: 70%;
    }

    #pez_inc_desc {
        margin: 10px 0 80px 20px;
    }

    #pez_inc_desc.vic {
        margin: 10px 50px 80px 20px;
    }

    #pez_error {
        display: none;
        position: absolute;
        top: 60px;
        left: 5%;
        width: 80%;
        padding: 1em;
        background-color: rgba(255,255,255,1);
        border-radius: 10px;
        text-align: center !important;
        color: rgb(160, 34, 25);
        z-index: 1002;
    }

    #pez_error p {
        width: 80%;
        margin: auto;
        font-size: .9em;
        margin-bottom: .5em;
    }

    #pez_error p:first-of-type{
        color: black;
    }

    #pez_error button {
        font-size: 1em;
        padding: .3em 1em;
        margin: 1em auto .15em;
        cursor: pointer;
    }

    .legend {
        bottom: 10px;
        left: -5px;
    }

}
