 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8">
     <title>Fire Map generator for v{{ VERSION }}</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="web_author" content="Peter Borbely @datafunk">
     <meta name="robots" content="index, follow">
     <!-- <meta name="robots" content="noindex, nofollow"> -->
     <link rel="stylesheet" type="text/css" href="/interactive/shared/disaster-maps/{{ VERSION }}/css/article.styles.libs.min.css">
     <!-- <script type="text/javascript" src="/interactive/libraries/modernizr/modernizr-2.8.3.js"></script> -->
     <style type="text/css">
        fieldset {
            margin: 2em auto;
            padding: 1em 2em;
            text-align: left;
            width: 80%;
            font-size: .9em;
            border: 1px solid grey;
            border-radius: 10px;
        }

        fieldset legend {
            padding: .5em 1em;
            border: 1px solid grey;
            border-radius: 5px;
        }

        textarea {
            display: none;
            font-family: monospace;
            font-size: 12px;
            padding: 1em;
            margin: 1em auto;
        }

        ol li {
            margin: 1em auto;
        }

        ol li button {
            padding: .3em;
            font-size: 1em;
            border: 2px solid grey;
            border-radius: 3px;
            background-color: aliceblue;
            font-family: monospace;
        }

        ol li button:hover {
            background-color:antiquewhite;
            cursor: pointer;
        }

        ol li img {
            width: 100%;
        }

        sup {
            font-size: .4em;
            font-weight: 100;
        }

     </style>
 </head>
 <body>
     <div id="pez_wrap">
         <h1>Set up tool for Fire Map <sup>v{{ VERSION }}</sup></h1>

         <div id="pez_map">
             <noscript>
             This application requires JavaScript to display Emergency incidents state-wide. Please revisit the page with a JavaScript enabled modern browser.
             </noscript>
         </div>
         <div id="pez_desc">
             <div class="pez_closebtn">X</div>
             <h2></h2>
             <div id="pez_inc_desc"></div>
         </div>
         <div id="pez_error">
            <p></p>
            <p></p>
            <button>ok</button>
         </div>


        <fieldset>
            <legend>Configuration</legend>
            <p>Use this tool to configure NSW / VIC article embedable fire maps.</p>
            <ol>
                <li>
                    <form>
                    select state:
                    <label for="nsw">NSW</label>
                    <input type="radio" value="nsw" name="state">
                    <label for="vic">VIC</label>
                    <input type="radio" value="vic" name="state">
                    </form>
                </li>
                <li>
                    drag and zoom the map to the desired view then click &raquo; <button id="grab_config">grab map settings</button>
                </li>
                <li>
                    <button id="get_embed">generate CQ embed code</button>
                    <textarea rows="18" cols="70" id="embed_code" readonly="readonly">Your CQ embed code will be displayed here...</textarea>
                </li>
                <li>
                    open up the CQ article you want to embed the fire map in
                </li>
                <li>
                    in the CQ article body (normal view) place your cursor between two paragraphs where you want the map to appear
                </li>
                <li>
                    click on the embed <b>&lt;&gt;</b> icon
                    <img src="cq-embed-example.png">
                </li>
                <li>
                    copy the embed code from above
                </li>
                <li>
                    place the embed code in the CQ <b>Embed Media</b> popup window and click <b>OK</b>
                </li>
                <li>
                    save, publish and smile - you're done!
                </li>
            </ol>
        </fieldset>
    </div>

 <!-- // END #pez_wrap -->


<!-- Libraries to be concat -->
<!-- <script type="text/javascript" src="libs/jquery-1.11.0.min.js"></script> -->
<!-- <script src="libs/leaflet.js"></script> -->
<!-- <script type="text/javascript" src="js/jquery.htmlClean.min.js"></script> -->
<script type="text/javascript" src="/interactive/shared/disaster-maps/{{ VERSION }}/js/libs.min.js"></script>
<!-- <script type="text/javascript" src="/interactive/libraries/PEZ.common/iframeResizer.contentWindow.min.js"></script> -->
<!-- The app -->
<script type="text/javascript" src="/interactive/shared/disaster-maps/{{ VERSION }}/js/article.min.js"></script>
<!-- Set tracking values  -->
<!--script type="text/javascript">
// Set page specific tracking variables.
var bp_section  = '';       // fill out section name
var bp_subsctn  = '';        // fill out sub section name - if applicable
var bp_byline   = '@datafunk';    // fill oput Byline
</script-->
<!-- <script type="text/javascript" src="/interactive/libraries/snippets/ffx.interactives.tracking.1.04.min.js"></script> -->
<script type="text/javascript" src="./generator.js?v={{ VERSION }}"></script>
</body>
</html>
