 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8">
     <title>Fire Map v{{ VERSION }}</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="web_author" content="Peter Borbely @datafunk">
     <meta name="robots" content="index, follow">
     <!-- <meta name="robots" content="noindex, nofollow"> -->
     <link rel="stylesheet" type="text/css" href="/interactive/shared/disaster-maps/{{ VERSION }}/css/article.styles.libs.min.css">
     <!-- <script type="text/javascript" src="/interactive/libraries/modernizr/modernizr-2.8.3.js"></script> -->
 </head>
 <body>
     <div id="pez_wrap">
         <h1>Current fires <span id="pez_h1_state"></span></h1>
         <div id="pez_map">
             <noscript>
             This application requires JavaScript to display Emergency incidents state-wide. Please revisit the page with a JavaScript enabled modern browser.
             </noscript>
         </div>
         <div id="pez_desc">
             <div class="pez_closebtn">X</div>
             <h2></h2>
             <div id="pez_inc_desc"></div>
         </div>
         <div id="pez_error">
            <p></p>
            <p></p>
            <button>ok</button>
         </div>
     </div>
 <!-- // END #pez_wrap -->


<!-- Libraries to be concat -->
<!-- <script type="text/javascript" src="libs/jquery-1.11.0.min.js"></script> -->
<!-- <script src="libs/leaflet.js"></script> -->
<!-- <script type="text/javascript" src="js/jquery.htmlClean.min.js"></script> -->
<script type="text/javascript" src="/interactive/shared/disaster-maps/{{ VERSION }}/js/libs.min.js"></script>
<script type="text/javascript" src="/interactive/libraries/PEZ.common/iframeResizer.contentWindow.min.js"></script>
<!-- The app -->
<script type="text/javascript" src="/interactive/shared/disaster-maps/{{ VERSION }}/js/article.min.js"></script>
<!-- Set tracking values  -->
<script type="text/javascript">
// Set page specific tracking variables.
var bp_section  = '';       // fill out section name
var bp_subsctn  = '';        // fill out sub section name - if applicable
var bp_byline   = '@datafunk';    // fill oput Byline
</script>
<script type="text/javascript" src="/interactive/libraries/snippets/ffx.interactives.tracking.1.04.min.js"></script>
</body>
</html>
