<!--//start interactive-->
<div style="margin:0;width:100%;max-width:620px;margin:0 auto;">
    <iframe frameborder="0" height="620px" id="pez_iframe" marginheight="0" marginwidth="0" scrolling="no" src="http://ddj.smh.com.au/interactive/shared/disaster-maps/v{{ VERSION }}/article.html" style="width:100%;max-width:620px;border:none;margin:0 auto;padding:0" width="100%"></iframe>
</div>
<script type="text/javascript" src="http://ddj.smh.com.au/interactive/libraries/PEZ.common/iframeResizer.min.js"></script>
<script type="text/javascript">
        iFrameResize({resizedCallback : function(messageData){}},'#pez_iframe');
</script>
<!--//end interactive-->
